/**
 * Constant
 */
$pin-z-index: 1000;

/**
 * Body :: background
 */
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'SDMisaeng', sans-serif;

  &::before,
  &::after {
    content: '';
    position: fixed;
  }

  &::before {
    left: -10px;
    top: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-image: url('../img/todo-bg.jpg');
    background-size: cover;
    z-index: -1;
  }

  &::after {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

/**
 * Help-Message :: 도움말
 */
.help-message {
  pointer-events: none;
  user-select: none;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  position: absolute;
  left: 10px;
  top: 10px;
}

/**
 * MousePointer :: push-pin
 */
.push-pin {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: $pin-z-index;
  width: 50px;
  height: 50px;
  background-image: url('../img/pin.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: none;
  display: none;
  
  &--active {
    display: block;
    pointer-events: normal;
  }
}

/**
 * To do item
 */

.todo-item {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: $pin-z-index - 10;
  width: 300px;
  height: 350px;
  background-color: #fff;
  padding: 40px 20px 20px;
  transform: rotate(-6deg); // random -6~6deg
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: 0.25s transform;
  font-size: 23px;

  &--zoom-in {
    transition: 0.5s transform;
    transform: scale(1.2)!important;
    z-index: $pin-z-index - 5;
  }
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url('../img/pin.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
  &__inner {
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
  }
  &--zoom-in > &__inner::after {
    content: '할 일을 붙이시려면 Ctrl + Enter를 누르세요.';
    color: #585858;
    font-size: 18px;
    position: absolute;
    left: 20px;
    bottom: 10px;
  }
}
