<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do</title>
  </head>
  <body>
    <div class="push-pin"></div>
    <div class="todo-item">
      <div class="todo-item__inner">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, animi quidem debitis in laudantium architecto impedit obcaecati perferendis. Incidunt delectus numquam facilis, adipisci minima ducimus eveniet molestias ad voluptatibus quo?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquid iste, dolore modi nostrum, aut animi minima ut expedita nesciunt id porro voluptatum repudiandae ducimus debitis magni harum aspernatur quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque placeat nostrum iste, quod corporis exercitationem porro ipsum? Molestiae earum aspernatur consequatur maiores! Tempora numquam consequatur commodi nostrum quo expedita? Magni.
      </div>
    </div>
  </body>
</html>
